// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to minuit sheets */
.minuit {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/tabs';
  @import 'components/items';
}

.chat-message {
  background: url('../images/background.webp');
  background-position: center;
  .dice-formula, .dice-total{
    border:none;
    background-color:$c-white;
  }
  .dice-roll .dice-tooltip {
    display: block !important;
  }
}

.sheet-header{
  .patrimoine{
    flex:0 0 102px;
    .patrimoine-input{
      font-size: 32px;
      height: 50px;
    }
  }
  .situation{
    flex:1;
  }
}

.sheet-header.directrice-header{
  flex:1;
}

button.tension {
  flex: 0 0 60px;
  height: 60px;
  font-size: 30px;
}