<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <div class="resources flex">
                <div class="resource flex-group-center situation">
                    <label class="resource-label">{{localize "MINUIT.221B.situation"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <textarea name="system.situation" rows="2" title="{{localize "MINUIT.221B.situation"}}" data-dtype="String">{{actor.system.situation}}</textarea>
                    </div>
                </div>
                <div class="resource flex-group-center patrimoine">
                    <label class="resource-label">{{localize "MINUIT.221B.patrimoine"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="patrimoine-input" name="system.patrimoine" value="{{actor.system.patrimoine}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
            <div class="resource flex-group-center">
                <label for="system.adrenaline.value" class="resource-label">{{localize "MINUIT.221B.concierge"}}</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <textarea name="system.concierge" rows="2" title="{{localize "MINUIT.221B.concierge"}}" data-dtype="String">{{actor.system.concierge}}</textarea>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "MINUIT.221B.etat_lieux"}}</a>
        <a class="item" data-tab="vitrine">{{localize "MINUIT.221B.vitrine"}}</a>
        <a class="item" data-tab="historique">{{localize "MINUIT.221B.historique"}}</a>
        <a class="item" data-tab="contacts">{{localize "MINUIT.221B.contacts"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="row-flex">
                <h2>{{localize "MINUIT.221B.etat_lieux"}}</h2>
                <ul>
                    <li>
                        <label>{{localize "MINUIT.221B.etat_lieux_securite"}}</label>
                        <textarea name="system.etatDesLieux.securite" rows="5" title="{{actor.system.etatDesLieux.securite}}" data-dtype="String">{{actor.system.etatDesLieux.securite}}</textarea>
                    </li>
                    <li>
                        <label>{{localize "MINUIT.221B.etat_lieux_vestibule"}}</label>
                        <textarea name="system.etatDesLieux.vestibule" rows="5" title="{{actor.system.etatDesLieux.vestibule}}" data-dtype="String">{{actor.system.etatDesLieux.vestibule}}</textarea>
                    </li>
                    <li>
                        <label>{{localize "MINUIT.221B.etat_lieux_salon"}}</label>
                        <textarea name="system.etatDesLieux.salon" rows="5" title="{{actor.system.etatDesLieux.salon}}" data-dtype="String">{{actor.system.etatDesLieux.salon}}</textarea>
                    </li>
                    <li>
                        <label>{{localize "MINUIT.221B.etat_lieux_bureau"}}</label>
                        <textarea name="system.etatDesLieux.bureau" rows="5" title="{{actor.system.etatDesLieux.bureau}}" data-dtype="String">{{actor.system.etatDesLieux.bureau}}</textarea>
                    </li>
                    <li>
                        <label>{{localize "MINUIT.221B.etat_lieux_commodites"}}</label>
                        <textarea name="system.etatDesLieux.commodites" rows="5" title="{{actor.system.etatDesLieux.commodites}}" data-dtype="String">{{actor.system.etatDesLieux.commodites}}</textarea>
                    </li>
                </ul>
            </div>
        </div>
        {{!-- Vitrine Tab --}}
        <div class="tab vitrine" data-group="primary" data-tab="vitrine">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "MINUIT.221B.vitrine_nom"}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize "MINUIT.221B.vitrine_ajouter"}}" data-type="possession"><i class="fas fa-plus"></i> {{localize "MINUIT.221B.ajouter"}}</a>
                    </div>
                </li>
                {{#each actor.system.possessions as |possession id|}}
                <li class="item flexrow" data-item-id="{{possession.id}}">
                    <div class="item-image"><img src="{{possession.img}}" title="{{possession.name}}" width="24" height="24" /></div>
                    <h4 class="item-name">{{possession.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize "MINUIT.Common.edit"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize "MINUIT.Common.delete"}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Historique Tab --}}
        <div class="tab historique items" data-group="primary" data-tab="historique">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "MINUIT.221B.historique_faits"}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize "MINUIT.221B.historique_ajouter"}}" data-type="historique"><i class="fas fa-plus"></i> {{localize "MINUIT.221B.ajouter"}}</a>
                    </div>
                </li>
                {{#each actor.system.historiques as |historique id|}}
                <li class="item flexrow" data-item-id="{{historique.id}}">
                    <div class="item-image">
                        <input type="checkbox" data-dtype="Boolean" {{checked historique.system.coche}} class="coche" />
                    </div>
                    <h4 class="item-name">{{historique.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize "MINUIT.Common.edit"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize "MINUIT.Common.delete"}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Contact Tab --}}
        <div class="tab contacts" data-group="primary" data-tab="contacts">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "MINUIT.221B.contacts_categorie"}}</div>
                    <div class="item-name">{{localize "MINUIT.221B.contacts_nom"}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize "MINUIT.221B.contacts_ajouter"}}" data-type="contact"><i class="fas fa-plus"></i> {{localize "MINUIT.221B.ajouter"}}</a>
                    </div>
                </li>
                {{#each actor.system.contacts as |contact id|}}
                <li class="item flexrow" data-item-id="{{contact.id}}">
                    <div class="item-image">
                        <input type="checkbox" data-dtype="Boolean" {{checked contact.system.coche}} class="coche" />
                    </div>
                    <h4 class="item-name item-categorie">{{contact.categorieDesc}}</h4>
                    <h4 class="item-name">{{contact.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize "MINUIT.Common.edit"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize "MINUIT.Common.delete"}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

    </section>
</form>