<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="grid grid-2col">
                <div class="resource">
                    <label class="resource-label">{{localize "MINUIT.Contact.categorie"}}</label>
                    <select name="system.categorie" data-dtype="String">
                    {{#select item.system.categorie}}
                        {{#each categorieInfluence as |type t|}}
                        <option value="{{t}}">{{type}}</option>
                        {{/each}}
                    {{/select}}
                    </select>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab active" data-group="primary" data-tab="description">
            <h2>{{localize "MINUIT.Contact.description"}}</h2>
            {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>